<div class="text-center">

  <h1>Welcome to FIT SESH!</h1>
  <p>This application will allow you to track all of the wines you have tried so that you can remember specific bottles, types, and vineyard
  you might prefer. The appl allows you to assign a rating and also save your tasting notes for further details.</p><br>

  <h4>First Time Visitors:</h4>
  <p>Please click <strong><a href="/signup">here </a></strong>to sign-up and start tracking your wine ratings!</p>
  <h4>Been here before?:</h4>
  <p>Please click <strong><a href="/login">here </a></strong>to login and view your wine index</p><br>

  <form class="form-signin">
    <img class="mb-4" src="/images/fit_sesh_favicon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">Fit Sesh &copy; 2019</p>
  </form>

</div>
