<div class="text-center">
  <div class="jumbotron jumbotron-transparent">
    <h1 class="display-3 font-weight-bold">Fit Sesh</h1>
    <h3 class="mb-4 text-light">Your Fitness Companion</h3>
		<h4 class="mb-3 display-5 font-weight-light" style="color: #eddee6;"> Log | Track | Share </h4>
    <img class="rounded border border-primary d-block mx-auto mb-3" src="/images/fit_sesh_favicon.png" alt="" width="100" height="100">
		<h6 class="mb-4 text-dark">Fit Sesh &copy; 2019</h6>
    <h2 class="mb-3 font-weight-bold">Sign Up Below!</h2>

    <form action="/signup" method="POST">
      <div class="form-signin">
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" name="username" id="inputUsername" class="form-control form-control-lg" placeholder="Username" required autofocus>
				<label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password" required autofocus>
        <button class="btn btn-lg btn-primary btn-block border border-dark" type="submit" value="submit">Sign Up</button>
      </div>
    </form>

    <div class="d-inline-flex rounded h4 p-1 mt-5 mb-2" style="color: #BAA1AE; background-color: rgba(1, 5, 58, .7);">Back to the Home Page?</div>
		<div class="d-block">
			<a href='/' class="btn btn-lg btn-secondary border border-dark ml-2">Home Page</a>
		</div>

	</div>
</div>
